/* To use this button input the following html in your html file:
<a href="YOUR LINK GOES HERE">Button text Goes Here</a>
*/

.button2 {
	/* styles for button */
	margin:70px auto 20px auto;
	text-align:center;
    margin-left: auto;
    margin-right: auto;
	
	/* Got this gradient css from :
	 * http://www.red-team-design.com/cross-browser-css-gradient-buttons
	*/
	background: #fff;
    /*background: -webkit-gradient(linear, left top, left bottom, from(#81a8cb), to(#13cbcb) );*/
    /*background: -moz-linear-gradient(-90deg, #81a8cb, #13cbcb); //4477a1*/
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#81a8cb', endColorstr='#4477a1');
	
	display: block;
	width:240px;
	padding: 9px 8px 9px 9px;
	color: #13cbcb;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	font: 'Arial';
	font-size: 30px;
	
	
	
	/* css3 implementation :) */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	/*text-shadow: 0 -1px 1px rgba(0,0,0,0.25);*/
	/*border-bottom: 1px solid rgba(0,0,0,0.25);*/
	position: relative;
	cursor: pointer;
}
.button2:addtocatalog{
	width:200px;
}
.button2:hover {
  background: #13cbcb;
  color: #fff;
}

.button2:active{
    text-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px;
    -webkit-box-shadow: inset 0px 1px 15px 0px rgba(0,0,0,.4), inset 0px 1px 1px 1px rgba(0,0,0,.2), 0px 1px 1px 0 rgba(255,255,255,.5);
    -moz-box-shadow: inset 0px 1px 15px 0px rgba(0,0,0,.4), inset 0px 1px 1px 1px rgba(0,0,0,.2), 0px 1px 1px 0 rgba(255,255,255,.5);
    box-shadow: inset 0px 1px 15px 0px rgba(0,0,0,.4), inset 0px 1px 1px 1px rgba(0,0,0,.2), 0px 1px 1px 0 rgba(255,255,255,.5);
}