<div id="faq" style="visibility:hidden; position:absolute; height:100%; overflow:scroll">



  <h2 class = "under">About Us</h2>

		  <h2 class = "textfont">Developers in Enterprise Technology is a group of 10 UC San Diego students. </br>

		  We developed the Food Administration Tool in Winter 2012 for our CSE 110 class. </br>

		  If you have questions or comments about our product, please contact Nima at cse-110-team@googlegroups.com.</br>

		  </h2>

		  <br/> <br/>

		  

		  <h2 class="under"><a name"top">Frequently Asked Questions</a></h2>

		

<h2 class="textfontfaq">

<a href ="#Question1" style="color:#13cbcb;text-align:center; border-bottom:solid 1px #13cbcb;">A. My food went bad, how do I remove it?</a><br /><br/>

<a href="#Question2" style="color:#13cbcb;text-align:center; border-bottom:solid 1px #13cbcb;">B. How do I generate a meal? </a><br /><br/>

<a href="#Question3" style="color:#13cbcb;text-align:center; border-bottom:solid 1px #13cbcb;">C. How do I view previous meals I've eaten?</a><br /><br/>

<a href="#Question4" style="color:#13cbcb;text-align:center; border-bottom:solid 1px #13cbcb;">D. How do I add foods to my kitchen?</a><br /><br/>

<a href="#Question5" style="color:#13cbcb;text-align:center; border-bottom:solid 1px #13cbcb;">E. How do I edit the nutritional information of a food?</a><br /><br/>

<a href="#Question6" style="color:#13cbcb;text-align:center; border-bottom:solid 1px #13cbcb;">F. What is the purpose of the F.A.T.?</a><br /><br/>

<a href="#Question7" style="color:#13cbcb;text-align:center; border-bottom:solid 1px #13cbcb;">G. Why is this tool different from other diet tools?</a><br /><br/>

<a href="#Question8" style="color:#13cbcb;text-align:center; border-bottom:solid 1px #13cbcb;">H. I am concerned about information privacy. How secure is your site?</a><br /><br/>

<a href="#Question9" style="color:#13cbcb;text-align:center; border-bottom:solid 1px #13cbcb;">I. What is the Zone diet?</a><br /><br/>

<a href="#Question10" style="color:#13cbcb;text-align:center; border-bottom:solid 1px #13cbcb;">J. Can I add food items to my kitchen that are not considered "healthy" or "Zone-friendly"?</a><br /><br/>

<a href="#Question11" style="color:#13cbcb;text-align:center; border-bottom:solid 1px #13cbcb;">K. How do you know which foods are carbohydrates, which foods are fats, and which foods are proteins? Don't they all have at least some of each macronutrient?</a><br /><br/>



</h2>

</p>

<h2 class = "textfont" >

<p><a name="Question1" style="color:#13cbcb; font-size:28px;">A. "My food went bad, how do I remove it?"</a><br /><br /></h2>

<h2 class = "textfont4">

		1. Go to the "My Kitchen" page<br />

        2. Click "Modify Food"<br />

        3. Set the quantity appropriately</p></h2>

        

<h2 class = "textfont">

<p><br /><a name="Question2" style="color:#13cbcb; font-size:28px;">B. "How do I generate a meal?"</a><br /><br /></h2>

<h2 class = "textfont4">

		1. Go to the "Calendar" page<br />

        2. Go to the Day View<br />

        3. Click which type of meal you want, and the meal will generate</p></h2>

        

<h2 class = "textfont" >

<p><br /><a name="Question3" style="color:#13cbcb; font-size:28px;">C. "How do I view or modify previous meals I've eaten?"</a><br /><br /></h2>

<h2 class = "textfont4">

		1. Go to the "Calendar" page<br />

        2. Go to the Month/Week View<br />

        3. Click on the meal you wish to view</p></h2>

        

<h2 class = "textfont" >	

<p><br /><a name="Question4" style="color:#13cbcb; font-size:28px;">D. "How do I add foods to my kitchen?"</a><br /><br /></h2>

<h2 class = "textfont4">

		1. Go to the "My Kitchen" page<br />

        2. Click on the "Add a Food" button</p></h2>

        

<h2 class = "textfont" >

<p><br /><a name="Question5" style="color:#13cbcb; font-size:28px;">E. "How do I edit the nutritional information of a food?"</a><br /><br /></h2>

<h2 class = "textfont4">

		1. Go to the "My Kitchen" page<br />

        2. Click on Breakfast, Lunch, Dinner, or Snack, accordingly <br />

        3. Find the item you wish to edit <br />

        4. Click "Edit Food" <br/><br/></p>

	    </h2>
	    
	    
	    
<h2 class = "textfont" >	

<p><br /><a name="Question6" style="color:#13cbcb; font-size:28px;">F. "What is the purpose of the F.A.T.?"</a><br /><br /></h2>

<h2 class = "textfont4">

         The F.A.T. is meant to help you to control the amounts of each macronutrient that you eat and helps you to easily generate healthy meals out of the foods that you have.</p></h2>
         


<h2 class = "textfont" >	

<p><br /><a name="Question7" style="color:#13cbcb; font-size:28px;">G. "Why is this tool different from other diet tools?"</a><br /><br /></h2>

<h2 class = "textfont4">

         Most diet tools only let you keep track of the foods you are eating; F.A.T. suggests meals for you that follow your diet and are possible given the foods in your kitchen.</p></h2>
         
         
         
<h2 class = "textfont" >	

<p><br /><a name="Question8" style="color:#13cbcb; font-size:28px;">H. "I am concerned about information privacy. How secure is your site?"</a><br /><br /></h2>

<h2 class = "textfont4">
         Our site is very secure. A confidentiality notice is sent in every registration email, and we have tested against potential threats.
         
         </p></h2>
         
         
<h2 class = "textfont" >	

<p><br /><a name="Question9" style="color:#13cbcb; font-size:28px;">I. "What is the Zone diet?"</a><br /><br /></h2>

<h2 class = "textfont4">
         The Zone diet advocates consuming calories from consuming carbohydrates, protein, and fat in a balanced 40:30:30 ratio in order to promote proper balance of insulin and glucagon levels.
         </p></h2>
                  
         
<h2 class = "textfont" >	

<p><br /><a name="Question10" style="color:#13cbcb; font-size:28px;">K. "Can I add food items to my kitchen that are not considered 'healthy' or 'Zone-friendly'?"</a><br /><br /></h2>

<h2 class = "textfont4">
         Yes, you can add any foods and we will use them in our generated meals if they fit your macronutrient preferences.
         
         </p></h2>
         
         
   
<h2 class = "textfont" >	

<p><br /><a name="Question11" style="color:#13cbcb; font-size:28px;">L. "How do you know which foods are carbohydrates, which foods are fats, and which foods are proteins? Don't they all have at least some of each macronutrient?"</a><br /><br /></h2>

<h2 class = "textfont4">
         We determine which are your carbohydrates, fats and proteins by the macronutrient they are predominantly composed of.

         </p></h2>

         
         
         
<h2 class = "textfontfaq">

<a href ="#top" style="color:#13cbcb;text-align:center; border-bottom:solid 1px #FFFFFF;">Top</a>

</h2>

</div>