<div class="body4">
		<div class="main">
			<article id="content2">
				<div class="wrapper">
					<section class="col3">
						<h4>Why Us?</h4>
						<ul class="list1">
							<li><span>Innovative</li>
							<li><span>Creative</li>
							<li><span>Out-of-the-box</li>
						</ul>
					</section>
                    </span>
					<section class="col3 pad_left2">
						<h4>Address</h4>
						<ul class="address">
							<li><span>College:</span>UC San Diego</li>
							<li><span>City:</span>La Jolla</li>
							<li><span>Class:</span>CSE 110</li>
							<li><span> Email:</span><a href="mailto:">Fat_Diet@hotmail.com</a></li>
						</ul>
					</section>
					<section class="col3 pad_left2">
						<h4>Follow Us</h4>
						<ul id="icons">
							</br><li><a href="https://www.facebook.com/fatbydiet" target = "_blank">
                            <img src = "../../images/fbicon.png" onMouseOver="src='../../images/fbpressed.png'" onMouseOut="src='../../images/fbicon.png'"></img>
                            <span></span></a></li>
                            </br><li><a href="https://www.twitter.com/fatbydiet" target = "_blank">
                            <img src = "../../images/twitter.png" onMouseOver="src='../../images/twitpressed.jpg'" onMouseOut="src='../../images/twitter.png'"></img></a></li>

						</ul>
					</section>

				</div>
			</article>
<!-- content end -->
		</div>
	</div>
		<div class="main">
<!-- footer -->
			<footer>
				Website powered by Developers In Enterprise Technology
			</footer>
<!-- footer end -->
		</div>