<!-- header -->
            <header>
				<div class="wrapper">
				<h1><a href="#" id="logo">Food Administration Tool</a></h1>
				<nav>
					<ul id="menu">
						<li id="nav1" class="active"><a style="color:13cbcb" id="showCalendar" href="#" onClick="showCalendar()">Calendar<span></span></a></li>
						<li id="nav2" ><a style="color:13cbcb" href = "#" onClick="showMyKitchen()" id="showKitchen">Kitchen<span></span></a></li>
						<li id="nav3"><a style="color:13cbcb" href="#" onClick="showUserProfile()" id="showProfile">Profile	</a></li>
						<li id="nav4" ><a style="color:13cbcb" href="#" onClick="showFAQ()"> FAQ <span></span></a></li>
						<li id="nav5"><a style="color:13cbcb" href="logout">Log Out<span></span></a></li>
					</ul>
				</nav>
				</div>
			</header>
<!-- header end-->